:root {
    --button-border-radius: 0px;
}

html {
    font-size: 14px
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
}

a:hover {
    text-decoration: none
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
}

header {
    background: url(../img/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

header img {
    height: 90px;
}

.slogan h2 {
    font-size: 2rem;
}

.slogan h3 {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400
}

.card-action {
    color: #333;
}

.card-action:hover {
    border-color: #aa111f;
    color: #000;
}

.nav-tabs.main-tab .nav-link {
    color: #4b5981;
    font-weight: 600;
}

.help-block {
    font-size: .8rem;
    color: #ff0000;
    display: block
}

.nav-link {
    position: relative;
}

.nav-tabs.tab-img .nav-link {
    opacity: .5
}

.nav-tabs.tab-img .nav-link.active {
    opacity: 1
}

.nav-tabs.tab-img .nav-link img {
    border-radius: 3px 3px 0 0;
}

.tip-title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(170, 17, 31, 0.8);
    text-align: center;
    padding: 3px 0;
    color: #fff;
}

.header-contacte a {
    font-size: 1.3rem;
    color: #fff;
}

.header-contacte a i {
    color: #FC0
}

@media (max-width: 768px) {
    .tip-title {
        position: relative;
        font-size: .9rem;
    }
}

.has-error .form-control {
    border-color: #ff0000;
}

.btn-danger {
    background-color: var(--sw-anchor-active-primary-color);
    border-color: var(--sw-anchor-active-primary-color);
    border-radius: var(--button-border-radius);
}

.btn-danger:hover {
    background-color: #4e0014;
    border-color: #710821
}

.color-warning {
    color: #FC0
}

.form-group.has-error {
    border: 1px solid #ff0000;
}

.box-wizard {
    background-color: #e1e0d9
}

.text-bordo {
    color: #000
}

.bg-prod {
    background-color: #cfcec8
}

.radio-label {
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 0;
    transition: border-color 0.3s;
    display: block;
    position: relative;
    overflow: hidden;
}

.check-img:before {
    content: "";
    display: block;
    background-image: url("../img/check-circle.webp");
    background-repeat: no-repeat;
    background-size: 44px 44px;
    width: 44px;
    height: 44px;
    top: -20%;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    z-index: 9;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}

.active .check-img:before {
    top: 50%;
    opacity: 1;
}

.radio-label.active {
    border-color: #ba9b6c;
}

.radio-input {
    display: none;
}

.fa-plus:before {
    content: url(../img/plus.svg);
}

.fa-minus:before {
    content: url(../img/minus.svg);
}

.fa {
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-size: 14px;
}

.btn-last {
    display: block;
    text-decoration: none;
    text-align: center;
    text-transform: none;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    margin-left: var(--button-border-radius);
    margin-right: var(--button-border-radius);
    cursor: pointer;
    padding: .375rem .75rem;
    border-radius: 0;
    font-weight: 400;
    color: var(--sw-toolbar-btn-color);
    background-color: var(--sw-toolbar-btn-background-color);
    border: 1px solid var(--sw-toolbar-btn-background-color);
}


@media (max-width: 768px) {
    .check-img:before {
        background-size: 22px 22px;
        width: 22px;
        height: 22px;
    }

    .sw .toolbar>.sw-btn {
        flex: 1 0 44%
    }
}

.shake-top {
    -webkit-animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

p.text-bordo {
    min-height: 30px;
}

.red {
    color: red;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-9-20 13:41:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-top
 * ----------------------------------------
 */
@-webkit-keyframes shake-top {

    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }

    10% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }

    20%,
    40%,
    60% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }

    30%,
    50%,
    70% {
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
    }

    80% {
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }

    90% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
}

@keyframes shake-top {

    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }

    10% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }

    20%,
    40%,
    60% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }

    30%,
    50%,
    70% {
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
    }

    80% {
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }

    90% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
}